<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 2*

# 📝 Assignment

## 1. Feature Engineering

- `KT&G` 기업 데이터를 계속 사용합니다.
  - 변수 이름은 `df`로 저장하세요.

- 각 분기별 영업이익률을 직접 계산해보세요. 
  - Feature 이름은 `영업이익률2` 입니다.

- 아래 데이터를 참조하여 18/19년도에 대해서 Price to Dream Ratio (PDR)을 계산하세요.
  - 변수 이름은 `df2`, feature 이름은 `PDR`로, `df2['PDR']`을 통해 `~` 값이 확인 되어야합니다.

||구분|종가|발행주식수|시가총액|시장점유율|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18년|101500|137292497|13935188445500|62.0|~|
|1|19년|93800|137292497|12878036218600|63.5|~|

In [1]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['분기', '매출액', '영업이익', '영업이익(발표기준)', '세전계속사업이익',
           '당기순이익', '당기순이익(지배)', '당기순이익(비지배)', '자산총계', '부채총계',
           '자본총계', '자본총계(지배)', '자본총계(비지배)', '자본금', '영업활동현금흐름',
           '투자활동현금흐름', '재무활동현금흐름', '영업이익률', '순이익률', 'ROE(%)',
           'ROA(%)', '부채비율', '자본유보율', 'EPS(원)', 'PER(배)']

In [2]:
import pandas as pd

df = pd.read_csv(url, header = None)
df.columns = headers
df

,분기,매출액,영업이익,영업이익(발표기준),세전계속사업이익,당기순이익,당기순이익(지배),당기순이익(비지배),자산총계,부채총계,...,투자활동현금흐름,재무활동현금흐름,영업이익률,순이익률,ROE(%),ROA(%),부채비율,자본유보율,EPS(원),PER(배)
0,19/6,"12,578","3,991","3,991","4,452","3,245","3,228",17,"108,464","25,940",...,"-1,878","-4,919",31.73,25.80,12.35,9.37,31.43,803.22,"2,351",13.77
1,19/9,"13,222","3,825","3,825","4,503","3,221","3,208",13,"106,314","20,691",...,-83,-329,28.93,24.36,12.67,9.95,24.17,836.86,"2,337",13.87
2,19/12,"11,982","2,523","2,523","1,794","1,183","1,198",-15,"107,121","20,062",...,-501,-129,21.06,9.87,12.39,9.96,23.04,850.82,873,12.42
3,20/3,"11,784","3,150","3,150","4,156","2,939","2,930",9,"108,594","24,862",...,"-1,392",-86,26.73,24.94,13.05,9.79,29.69,823.16,"2,134",9.71
4,20/6,"13,188","3,947","3,947","4,020","2,935","2,931",4,"110,282","23,386",...,-214,"-5,501",29.93,22.25,12.20,9.40,26.91,837.40,"2,135",10.46

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   분기          5 non-null      object
 1   매출액         5 non-null      object
 2   영업이익        5 non-null      object
 3   영업이익(발표기준)  5 non-null      object
 4   세전계속사업이익    5 non-null      object
 5   당기순이익       5 non-null      object
 6   당기순이익(지배)   5 non-null      object
 7   당기순이익(비지배)  5 non-null      int64
 8   자산총계        5 non-null      object
 9   부채총계        5 non-null      object
 10  자본총계        5 non-null      object
 11  자본총계(지배)    5 non-null      object
 12  자본총계(비지배)   2 non-null      float64
 13  자본금         5 non-null      object
 14  영업활동현금흐름    5 non-null      object
 15  투자활동현금흐름    5 non-null      object
 16  재무활동현금흐름    5 non-null      object
 17  영업이익률       5 non-null      float64
 18  순이익률        5 non-null      float64
 19  ROE(%)      5 non-null      float64
 20  ROA(%)      5 non-null      float64
 21  부채비율        5 non-null      float64
 22  자본유보율       5 non-null      float64
 23  EPS(원)      5 non-null      object
 24  PER(배)      5 non-null      float64
dtypes: float64(8), int64(1), object(16)
memory usage: 1.1+ KB

In [4]:
def remove_comma(x):
    return x.replace(',', '')
df["매출액"] = df["매출액"].apply(remove_comma)
df["영업이익"] = df["영업이익"].apply(remove_comma)

df["매출액"] = df["매출액"].apply(pd.to_numeric, errors = 'coerce')
df["영업이익"] = df["영업이익"].apply(pd.to_numeric, errors = 'coerce')

df.dtypes

분기             object
매출액             int64
영업이익            int64
영업이익(발표기준)     object
세전계속사업이익       object
당기순이익          object
당기순이익(지배)      object
당기순이익(비지배)      int64
자산총계           object
부채총계           object
자본총계           object
자본총계(지배)       object
자본총계(비지배)     float64
자본금            object
영업활동현금흐름       object
투자활동현금흐름       object
재무활동현금흐름       object
영업이익률         float64
순이익률          float64
ROE(%)        float64
ROA(%)        float64
부채비율          float64
자본유보율         float64
EPS(원)         object
PER(배)        float64
dtype: object

In [5]:
df['영업이익률2'] = df['영업이익']/df['매출액']
df

,분기,매출액,영업이익,영업이익(발표기준),세전계속사업이익,당기순이익,당기순이익(지배),당기순이익(비지배),자산총계,부채총계,...,재무활동현금흐름,영업이익률,순이익률,ROE(%),ROA(%),부채비율,자본유보율,EPS(원),PER(배),영업이익률2
0,19/6,12578,3991,"3,991","4,452","3,245","3,228",17,"108,464","25,940",...,"-4,919",31.73,25.80,12.35,9.37,31.43,803.22,"2,351",13.77,0.317300
1,19/9,13222,3825,"3,825","4,503","3,221","3,208",13,"106,314","20,691",...,-329,28.93,24.36,12.67,9.95,24.17,836.86,"2,337",13.87,0.289291
2,19/12,11982,2523,"2,523","1,794","1,183","1,198",-15,"107,121","20,062",...,-129,21.06,9.87,12.39,9.96,23.04,850.82,873,12.42,0.210566
3,20/3,11784,3150,"3,150","4,156","2,939","2,930",9,"108,594","24,862",...,-86,26.73,24.94,13.05,9.79,29.69,823.16,"2,134",9.71,0.267312
4,20/6,13188,3947,"3,947","4,020","2,935","2,931",4,"110,282","23,386",...,"-5,501",29.93,22.25,12.20,9.40,26.91,837.40,"2,135",10.46,0.299287

## 2. String Manipulation

- replace가 아닌 다른 방법을 사용하여 19년도 2분기의 매출액 을 integer로 변경하세요. 결과값은 12578이 나와야합니다.

In [6]:
df = df.set_index('분기', drop=True)
df

,매출액,영업이익,영업이익(발표기준),세전계속사업이익,당기순이익,당기순이익(지배),당기순이익(비지배),자산총계,부채총계,자본총계,...,재무활동현금흐름,영업이익률,순이익률,ROE(%),ROA(%),부채비율,자본유보율,EPS(원),PER(배),영업이익률2
분기,,,,,,,,,,,,,,,,,,,,,
19/6,12578,3991,"3,991","4,452","3,245","3,228",17,"108,464","25,940","82,524",...,"-4,919",31.73,25.80,12.35,9.37,31.43,803.22,"2,351",13.77,0.317300
19/9,13222,3825,"3,825","4,503","3,221","3,208",13,"106,314","20,691","85,623",...,-329,28.93,24.36,12.67,9.95,24.17,836.86,"2,337",13.87,0.289291
19/12,11982,2523,"2,523","1,794","1,183","1,198",-15,"107,121","20,062","87,059",...,-129,21.06,9.87,12.39,9.96,23.04,850.82,873,12.42,0.210566
20/3,11784,3150,"3,150","4,156","2,939","2,930",9,"108,594","24,862","83,732",...,-86,26.73,24.94,13.05,9.79,29.69,823.16,"2,134",9.71,0.267312
20/6,13188,3947,"3,947","4,020","2,935","2,931",4,"110,282","23,386","86,896",...,"-5,501",29.93,22.25,12.20,9.40,26.91,837.40,"2,135",10.46,0.299287

In [7]:
df.loc['19/6']['매출액']

12578

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 19/6 to 20/6
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   매출액         5 non-null      int64
 1   영업이익        5 non-null      int64
 2   영업이익(발표기준)  5 non-null      object
 3   세전계속사업이익    5 non-null      object
 4   당기순이익       5 non-null      object
 5   당기순이익(지배)   5 non-null      object
 6   당기순이익(비지배)  5 non-null      int64
 7   자산총계        5 non-null      object
 8   부채총계        5 non-null      object
 9   자본총계        5 non-null      object
 10  자본총계(지배)    5 non-null      object
 11  자본총계(비지배)   2 non-null      float64
 12  자본금         5 non-null      object
 13  영업활동현금흐름    5 non-null      object
 14  투자활동현금흐름    5 non-null      object
 15  재무활동현금흐름    5 non-null      object
 16  영업이익률       5 non-null      float64
 17  순이익률        5 non-null      float64
 18  ROE(%)      5 non-null      float64
 19  ROA(%)      5 non-null      float64
 20  부채비율        5 non-null      float64
 21  자본유보율       5 non-null      float64
 22  EPS(원)      5 non-null      object
 23  PER(배)      5 non-null      float64
 24  영업이익률2      5 non-null      float64
dtypes: float64(9), int64(3), object(13)
memory usage: 1.2+ KB

## 3. Apply
- 데이터셋의 분기를 제외한 모든 feature에 대해서 수치형 데이터 (`int`, `float`) 로 수정하고, `describe`를 통해 summary statistics 를 확인하세요.
- 단 결측치는 `0`으로 처리합니다.

In [9]:
def remove_comma(x):
    return x.replace(',', '')

df["당기순이익"] = df["당기순이익"].apply(remove_comma)
df["당기순이익(지배)"] = df["당기순이익(지배)"].apply(remove_comma)
df["자산총계"] = df["자산총계"].apply(remove_comma)
df["부채총계"] = df["부채총계"].apply(remove_comma)
df["자본총계"] = df["자본총계"].apply(remove_comma)
df["자본금"] = df["자본금"].apply(remove_comma)
df["영업활동현금흐름"] = df["영업활동현금흐름"].apply(remove_comma)
df["투자활동현금흐름"] = df["투자활동현금흐름"].apply(remove_comma)
df["재무활동현금흐름"] = df["재무활동현금흐름"].apply(remove_comma)
df["EPS(원)"] = df["EPS(원)"].apply(remove_comma)



df["당기순이익"] = df["당기순이익"].apply(pd.to_numeric, errors = 'coerce')
df["당기순이익(지배)"] = df["당기순이익(지배)"].apply(pd.to_numeric, errors = 'coerce')
df["자산총계"] = df["자산총계"].apply(pd.to_numeric, errors = 'coerce')
df["부채총계"] = df["부채총계"].apply(pd.to_numeric, errors = 'coerce')
df["자본총계"] = df["자본총계"].apply(pd.to_numeric, errors = 'coerce')
df["자본금"] = df["자본금"].apply(pd.to_numeric, errors = 'coerce')
df["영업활동현금흐름"] = df["영업활동현금흐름"].apply(pd.to_numeric, errors = 'coerce')
df["투자활동현금흐름"] = df["투자활동현금흐름"].apply(pd.to_numeric, errors = 'coerce')
df["재무활동현금흐름"] = df["재무활동현금흐름"].apply(pd.to_numeric, errors = 'coerce')
df["EPS(원)"] = df["EPS(원)"].apply(pd.to_numeric, errors = 'coerce')


df.dtypes

매출액             int64
영업이익            int64
영업이익(발표기준)     object
세전계속사업이익       object
당기순이익           int64
당기순이익(지배)       int64
당기순이익(비지배)      int64
자산총계            int64
부채총계            int64
자본총계            int64
자본총계(지배)       object
자본총계(비지배)     float64
자본금             int64
영업활동현금흐름        int64
투자활동현금흐름        int64
재무활동현금흐름        int64
영업이익률         float64
순이익률          float64
ROE(%)        float64
ROA(%)        float64
부채비율          float64
자본유보율         float64
EPS(원)          int64
PER(배)        float64
영업이익률2        float64
dtype: object

In [10]:
pd.options.display.float_format = '{:.2f}'.format
df.describe()

,매출액,영업이익,당기순이익,당기순이익(지배),당기순이익(비지배),자산총계,부채총계,자본총계,자본총계(비지배),자본금,...,재무활동현금흐름,영업이익률,순이익률,ROE(%),ROA(%),부채비율,자본유보율,EPS(원),PER(배),영업이익률2
count,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,2.00,5.00,...,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00
mean,12550.80,3487.20,2704.60,2699.00,5.60,108155.00,22988.20,85166.80,564.00,9550.00,...,-2192.80,27.68,21.44,12.53,9.69,27.05,830.29,1966.00,12.05,0.28
std,664.98,636.93,863.42,851.34,12.48,1522.40,2560.38,1988.83,2.83,0.00,...,2763.51,4.12,6.60,0.34,0.29,3.55,18.02,619.94,1.90,0.04
min,11784.00,2523.00,1183.00,1198.00,-15.00,106314.00,20062.00,82524.00,562.00,9550.00,...,-5501.00,21.06,9.87,12.20,9.37,23.04,803.22,873.00,9.71,0.21
25%,11982.00,3150.00,2935.00,2930.00,4.00,107121.00,20691.00,83732.00,563.00,9550.00,...,-4919.00,26.73,22.25,12.35,9.40,24.17,823.16,2134.00,10.46,0.27
50%,12578.00,3825.00,2939.00,2931.00,9.00,108464.00,23386.00,85623.00,564.00,9550.00,...,-329.00,28.93,24.36,12.39,9.79,26.91,836.86,2135.00,12.42,0.29
75%,13188.00,3947.00,3221.00,3208.00,13.00,108594.00,24862.00,86896.00,565.00,9550.00,...,-129.00,29.93,24.94,12.67,9.95,29.69,837.40,2337.00,13.77,0.30
max,13222.00,3991.00,3245.00,3228.00,17.00,110282.00,25940.00,87059.00,566.00,9550.00,...,-86.00,31.73,25.80,13.05,9.96,31.43,850.82,2351.00,13.87,0.32

아래 데이터를 참조하여 18/19년도에 대해서 Price to Dream Ratio (PDR)을 계산하세요.

변수 이름은 df2, feature 이름은 PDR로, df2['PDR']을 통해 ~ 값이 확인 되어야합니다.

In [18]:
#PDR = 기업가치(시가총액) / TAM(전체시장규모) * 시장점유율
#시가총액 = PER / 순이익
#PER = 시가총액 / 순이익
#전제: 일반담배기준 점유율 18년 : 62%, 19년 : 63.5% / 시장규모 18년 : 15조, 19년 15조


col = ['구분', '종가', '발행주식수', '시가총액', '시장점유율', 'PDR']
ind = [0, 1]
con = [['18년', 101500, 137292497,13935188445500,62.0, ''], ['19년','93800','137292497','12878036218600','63.5','']]
df2 = pd.DataFrame(con, columns=col, index=ind)
df2

    구분      종가      발행주식수            시가총액 시장점유율 PDR
0  18년  101500  137292497  13935188445500 62.00
1  19년   93800  137292497  12878036218600  63.5

In [27]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 0 to 1
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      2 non-null      object
 1   종가      2 non-null      object
 2   발행주식수   2 non-null      object
 3   시가총액    2 non-null      object
 4   시장점유율   2 non-null      object
 5   PDR     2 non-null      object
dtypes: object(6)
memory usage: 112.0+ bytes

In [28]:
df2["종가"] = df2["종가"].apply(pd.to_numeric, errors = 'coerce')
df2["발행주식수"] = df2["발행주식수"].apply(pd.to_numeric, errors = 'coerce')
df2["시가총액"] = df2["시가총액"].apply(pd.to_numeric, errors = 'coerce')
df2["시장점유율"] = df2["시장점유율"].apply(pd.to_numeric, errors = 'coerce')
df2["PDR"] = df2["PDR"].apply(pd.to_numeric, errors = 'coerce')

df2.dtypes

구분        object
종가         int64
발행주식수      int64
시가총액       int64
시장점유율    float64
PDR      float64
dtype: object

In [29]:
df2['PDR'] = (df2['시가총액']/ 15000000000000) * 0.62

In [30]:
df2

    구분      종가      발행주식수            시가총액  시장점유율  PDR
0  18년  101500  137292497  13935188445500  62.00 0.58
1  19년   93800  137292497  12878036218600  63.50 0.53

## Grading

이전 과제를 완료했다면, 아래의 코드를 실행하세요.

In [31]:
def grade(df, df2):
  score = 0
  score += (df.shape == (5, 26)) # 1-1
  score += ((round(df2['PDR'], 3) == [149.841, 135.202]).sum() == 2) # 1-2
  score += ((round(df['영업이익률2'], 3) == [31.730, 28.929, 21.057, 26.731, 29.929]).sum() == 5) # 1-3
  score += (df['매출액'][0] == 12578) # 2
  score += ((df.dtypes == 'O').sum() == 1)
  return(score)

In [32]:
grade(df, df2)

1

## 🔥 도전과제

### NA Value Handling

- 19년도 4분기의 당기순이익(비지배) 부분을 Na로 대체하세요
- 이후 해당 결측치를 mean imputation 방법을 사용하여 처리하세요.

### Feature Engineering

Relative Perfomance 라는 새로운 feature를 계산하세요.

이는 최근 1년치 매출액의 평균값을 기준으로 

- 10% 이상 -> `S`
- 5% 이상 -> `A`
- -5 ~ 5% -> `B`
- -5%이하 -> `C`
- 10%이하 -> `D`

라는 값을 갖는 feature입니다.

20년도 2분기에 해당하는 결과값은 `A`가 나와야합니다.

각각에 해당하는 등급이 나오기 위해서 필요한 매출액을 추가로 서술하세요.