<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 2*

# ğŸ“ Assignment

## 1. Feature Engineering

- `KT&G` ê¸°ì—… ë°ì´í„°ë¥¼ ê³„ì† ì‚¬ìš©í•©ë‹ˆë‹¤.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df`ë¡œ ì €ì¥í•˜ì„¸ìš”.

- ê° ë¶„ê¸°ë³„ ì˜ì—…ì´ìµë¥ ì„ ì§ì ‘ ê³„ì‚°í•´ë³´ì„¸ìš”. 
  - Feature ì´ë¦„ì€ `ì˜ì—…ì´ìµë¥ 2` ì…ë‹ˆë‹¤.

- ì•„ë˜ ë°ì´í„°ë¥¼ ì°¸ì¡°í•˜ì—¬ 18/19ë…„ë„ì— ëŒ€í•´ì„œ Price to Dream Ratio (PDR)ì„ ê³„ì‚°í•˜ì„¸ìš”.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df2`, feature ì´ë¦„ì€ `PDR`ë¡œ, `df2['PDR']`ì„ í†µí•´ `~` ê°’ì´ í™•ì¸ ë˜ì–´ì•¼í•©ë‹ˆë‹¤.

||êµ¬ë¶„|ì¢…ê°€|ë°œí–‰ì£¼ì‹ìˆ˜|ì‹œê°€ì´ì•¡|ì‹œì¥ì ìœ ìœ¨|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18ë…„|101500|137292497|13935188445500|62.0|~|
|1|19ë…„|93800|137292497|12878036218600|63.5|~|

In [1]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['ë¶„ê¸°', 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ',
           'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
           'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„',
           'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„', 'ì˜ì—…ì´ìµë¥ ', 'ìˆœì´ìµë¥ ', 'ROE(%)',
           'ROA(%)', 'ë¶€ì±„ë¹„ìœ¨', 'ìë³¸ìœ ë³´ìœ¨', 'EPS(ì›)', 'PER(ë°°)']

In [2]:
import pandas as pd

df = pd.read_csv(url, header = None)
df.columns = headers
df

,ë¶„ê¸°,ë§¤ì¶œì•¡,ì˜ì—…ì´ìµ,ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€),ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ,ë‹¹ê¸°ìˆœì´ìµ,ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°),ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°),ìì‚°ì´ê³„,ë¶€ì±„ì´ê³„,...,íˆ¬ìí™œë™í˜„ê¸ˆíë¦„,ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„,ì˜ì—…ì´ìµë¥,ìˆœì´ìµë¥,ROE(%),ROA(%),ë¶€ì±„ë¹„ìœ¨,ìë³¸ìœ ë³´ìœ¨,EPS(ì›),PER(ë°°)
0,19/6,"12,578","3,991","3,991","4,452","3,245","3,228",17,"108,464","25,940",...,"-1,878","-4,919",31.73,25.80,12.35,9.37,31.43,803.22,"2,351",13.77
1,19/9,"13,222","3,825","3,825","4,503","3,221","3,208",13,"106,314","20,691",...,-83,-329,28.93,24.36,12.67,9.95,24.17,836.86,"2,337",13.87
2,19/12,"11,982","2,523","2,523","1,794","1,183","1,198",-15,"107,121","20,062",...,-501,-129,21.06,9.87,12.39,9.96,23.04,850.82,873,12.42
3,20/3,"11,784","3,150","3,150","4,156","2,939","2,930",9,"108,594","24,862",...,"-1,392",-86,26.73,24.94,13.05,9.79,29.69,823.16,"2,134",9.71
4,20/6,"13,188","3,947","3,947","4,020","2,935","2,931",4,"110,282","23,386",...,-214,"-5,501",29.93,22.25,12.20,9.40,26.91,837.40,"2,135",10.46

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ë¶„ê¸°          5 non-null      object
 1   ë§¤ì¶œì•¡         5 non-null      object
 2   ì˜ì—…ì´ìµ        5 non-null      object
 3   ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  5 non-null      object
 4   ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ    5 non-null      object
 5   ë‹¹ê¸°ìˆœì´ìµ       5 non-null      object
 6   ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)   5 non-null      object
 7   ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)  5 non-null      int64
 8   ìì‚°ì´ê³„        5 non-null      object
 9   ë¶€ì±„ì´ê³„        5 non-null      object
 10  ìë³¸ì´ê³„        5 non-null      object
 11  ìë³¸ì´ê³„(ì§€ë°°)    5 non-null      object
 12  ìë³¸ì´ê³„(ë¹„ì§€ë°°)   2 non-null      float64
 13  ìë³¸ê¸ˆ         5 non-null      object
 14  ì˜ì—…í™œë™í˜„ê¸ˆíë¦„    5 non-null      object
 15  íˆ¬ìí™œë™í˜„ê¸ˆíë¦„    5 non-null      object
 16  ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„    5 non-null      object
 17  ì˜ì—…ì´ìµë¥        5 non-null      float64
 18  ìˆœì´ìµë¥         5 non-null      float64
 19  ROE(%)      5 non-null      float64
 20  ROA(%)      5 non-null      float64
 21  ë¶€ì±„ë¹„ìœ¨        5 non-null      float64
 22  ìë³¸ìœ ë³´ìœ¨       5 non-null      float64
 23  EPS(ì›)      5 non-null      object
 24  PER(ë°°)      5 non-null      float64
dtypes: float64(8), int64(1), object(16)
memory usage: 1.1+ KB

In [4]:
def remove_comma(x):
    return x.replace(',', '')
df["ë§¤ì¶œì•¡"] = df["ë§¤ì¶œì•¡"].apply(remove_comma)
df["ì˜ì—…ì´ìµ"] = df["ì˜ì—…ì´ìµ"].apply(remove_comma)

df["ë§¤ì¶œì•¡"] = df["ë§¤ì¶œì•¡"].apply(pd.to_numeric, errors = 'coerce')
df["ì˜ì—…ì´ìµ"] = df["ì˜ì—…ì´ìµ"].apply(pd.to_numeric, errors = 'coerce')

df.dtypes

ë¶„ê¸°             object
ë§¤ì¶œì•¡             int64
ì˜ì—…ì´ìµ            int64
ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)     object
ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ       object
ë‹¹ê¸°ìˆœì´ìµ          object
ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)      object
ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)      int64
ìì‚°ì´ê³„           object
ë¶€ì±„ì´ê³„           object
ìë³¸ì´ê³„           object
ìë³¸ì´ê³„(ì§€ë°°)       object
ìë³¸ì´ê³„(ë¹„ì§€ë°°)     float64
ìë³¸ê¸ˆ            object
ì˜ì—…í™œë™í˜„ê¸ˆíë¦„       object
íˆ¬ìí™œë™í˜„ê¸ˆíë¦„       object
ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„       object
ì˜ì—…ì´ìµë¥          float64
ìˆœì´ìµë¥           float64
ROE(%)        float64
ROA(%)        float64
ë¶€ì±„ë¹„ìœ¨          float64
ìë³¸ìœ ë³´ìœ¨         float64
EPS(ì›)         object
PER(ë°°)        float64
dtype: object

In [5]:
df['ì˜ì—…ì´ìµë¥ 2'] = df['ì˜ì—…ì´ìµ']/df['ë§¤ì¶œì•¡']
df

,ë¶„ê¸°,ë§¤ì¶œì•¡,ì˜ì—…ì´ìµ,ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€),ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ,ë‹¹ê¸°ìˆœì´ìµ,ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°),ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°),ìì‚°ì´ê³„,ë¶€ì±„ì´ê³„,...,ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„,ì˜ì—…ì´ìµë¥,ìˆœì´ìµë¥,ROE(%),ROA(%),ë¶€ì±„ë¹„ìœ¨,ìë³¸ìœ ë³´ìœ¨,EPS(ì›),PER(ë°°),ì˜ì—…ì´ìµë¥ 2
0,19/6,12578,3991,"3,991","4,452","3,245","3,228",17,"108,464","25,940",...,"-4,919",31.73,25.80,12.35,9.37,31.43,803.22,"2,351",13.77,0.317300
1,19/9,13222,3825,"3,825","4,503","3,221","3,208",13,"106,314","20,691",...,-329,28.93,24.36,12.67,9.95,24.17,836.86,"2,337",13.87,0.289291
2,19/12,11982,2523,"2,523","1,794","1,183","1,198",-15,"107,121","20,062",...,-129,21.06,9.87,12.39,9.96,23.04,850.82,873,12.42,0.210566
3,20/3,11784,3150,"3,150","4,156","2,939","2,930",9,"108,594","24,862",...,-86,26.73,24.94,13.05,9.79,29.69,823.16,"2,134",9.71,0.267312
4,20/6,13188,3947,"3,947","4,020","2,935","2,931",4,"110,282","23,386",...,"-5,501",29.93,22.25,12.20,9.40,26.91,837.40,"2,135",10.46,0.299287

## 2. String Manipulation

- replaceê°€ ì•„ë‹Œ ë‹¤ë¥¸ ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ 19ë…„ë„ 2ë¶„ê¸°ì˜ ë§¤ì¶œì•¡ ì„ integerë¡œ ë³€ê²½í•˜ì„¸ìš”. ê²°ê³¼ê°’ì€ 12578ì´ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

In [6]:
df = df.set_index('ë¶„ê¸°', drop=True)
df

,ë§¤ì¶œì•¡,ì˜ì—…ì´ìµ,ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€),ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ,ë‹¹ê¸°ìˆœì´ìµ,ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°),ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°),ìì‚°ì´ê³„,ë¶€ì±„ì´ê³„,ìë³¸ì´ê³„,...,ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„,ì˜ì—…ì´ìµë¥,ìˆœì´ìµë¥,ROE(%),ROA(%),ë¶€ì±„ë¹„ìœ¨,ìë³¸ìœ ë³´ìœ¨,EPS(ì›),PER(ë°°),ì˜ì—…ì´ìµë¥ 2
ë¶„ê¸°,,,,,,,,,,,,,,,,,,,,,
19/6,12578,3991,"3,991","4,452","3,245","3,228",17,"108,464","25,940","82,524",...,"-4,919",31.73,25.80,12.35,9.37,31.43,803.22,"2,351",13.77,0.317300
19/9,13222,3825,"3,825","4,503","3,221","3,208",13,"106,314","20,691","85,623",...,-329,28.93,24.36,12.67,9.95,24.17,836.86,"2,337",13.87,0.289291
19/12,11982,2523,"2,523","1,794","1,183","1,198",-15,"107,121","20,062","87,059",...,-129,21.06,9.87,12.39,9.96,23.04,850.82,873,12.42,0.210566
20/3,11784,3150,"3,150","4,156","2,939","2,930",9,"108,594","24,862","83,732",...,-86,26.73,24.94,13.05,9.79,29.69,823.16,"2,134",9.71,0.267312
20/6,13188,3947,"3,947","4,020","2,935","2,931",4,"110,282","23,386","86,896",...,"-5,501",29.93,22.25,12.20,9.40,26.91,837.40,"2,135",10.46,0.299287

In [7]:
df.loc['19/6']['ë§¤ì¶œì•¡']

12578

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 19/6 to 20/6
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ë§¤ì¶œì•¡         5 non-null      int64
 1   ì˜ì—…ì´ìµ        5 non-null      int64
 2   ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  5 non-null      object
 3   ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ    5 non-null      object
 4   ë‹¹ê¸°ìˆœì´ìµ       5 non-null      object
 5   ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)   5 non-null      object
 6   ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)  5 non-null      int64
 7   ìì‚°ì´ê³„        5 non-null      object
 8   ë¶€ì±„ì´ê³„        5 non-null      object
 9   ìë³¸ì´ê³„        5 non-null      object
 10  ìë³¸ì´ê³„(ì§€ë°°)    5 non-null      object
 11  ìë³¸ì´ê³„(ë¹„ì§€ë°°)   2 non-null      float64
 12  ìë³¸ê¸ˆ         5 non-null      object
 13  ì˜ì—…í™œë™í˜„ê¸ˆíë¦„    5 non-null      object
 14  íˆ¬ìí™œë™í˜„ê¸ˆíë¦„    5 non-null      object
 15  ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„    5 non-null      object
 16  ì˜ì—…ì´ìµë¥        5 non-null      float64
 17  ìˆœì´ìµë¥         5 non-null      float64
 18  ROE(%)      5 non-null      float64
 19  ROA(%)      5 non-null      float64
 20  ë¶€ì±„ë¹„ìœ¨        5 non-null      float64
 21  ìë³¸ìœ ë³´ìœ¨       5 non-null      float64
 22  EPS(ì›)      5 non-null      object
 23  PER(ë°°)      5 non-null      float64
 24  ì˜ì—…ì´ìµë¥ 2      5 non-null      float64
dtypes: float64(9), int64(3), object(13)
memory usage: 1.2+ KB

## 3. Apply
- ë°ì´í„°ì…‹ì˜ ë¶„ê¸°ë¥¼ ì œì™¸í•œ ëª¨ë“  featureì— ëŒ€í•´ì„œ ìˆ˜ì¹˜í˜• ë°ì´í„° (`int`, `float`) ë¡œ ìˆ˜ì •í•˜ê³ , `describe`ë¥¼ í†µí•´ summary statistics ë¥¼ í™•ì¸í•˜ì„¸ìš”.
- ë‹¨ ê²°ì¸¡ì¹˜ëŠ” `0`ìœ¼ë¡œ ì²˜ë¦¬í•©ë‹ˆë‹¤.

In [9]:
def remove_comma(x):
    return x.replace(',', '')

df["ë‹¹ê¸°ìˆœì´ìµ"] = df["ë‹¹ê¸°ìˆœì´ìµ"].apply(remove_comma)
df["ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)"] = df["ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)"].apply(remove_comma)
df["ìì‚°ì´ê³„"] = df["ìì‚°ì´ê³„"].apply(remove_comma)
df["ë¶€ì±„ì´ê³„"] = df["ë¶€ì±„ì´ê³„"].apply(remove_comma)
df["ìë³¸ì´ê³„"] = df["ìë³¸ì´ê³„"].apply(remove_comma)
df["ìë³¸ê¸ˆ"] = df["ìë³¸ê¸ˆ"].apply(remove_comma)
df["ì˜ì—…í™œë™í˜„ê¸ˆíë¦„"] = df["ì˜ì—…í™œë™í˜„ê¸ˆíë¦„"].apply(remove_comma)
df["íˆ¬ìí™œë™í˜„ê¸ˆíë¦„"] = df["íˆ¬ìí™œë™í˜„ê¸ˆíë¦„"].apply(remove_comma)
df["ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„"] = df["ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„"].apply(remove_comma)
df["EPS(ì›)"] = df["EPS(ì›)"].apply(remove_comma)



df["ë‹¹ê¸°ìˆœì´ìµ"] = df["ë‹¹ê¸°ìˆœì´ìµ"].apply(pd.to_numeric, errors = 'coerce')
df["ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)"] = df["ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)"].apply(pd.to_numeric, errors = 'coerce')
df["ìì‚°ì´ê³„"] = df["ìì‚°ì´ê³„"].apply(pd.to_numeric, errors = 'coerce')
df["ë¶€ì±„ì´ê³„"] = df["ë¶€ì±„ì´ê³„"].apply(pd.to_numeric, errors = 'coerce')
df["ìë³¸ì´ê³„"] = df["ìë³¸ì´ê³„"].apply(pd.to_numeric, errors = 'coerce')
df["ìë³¸ê¸ˆ"] = df["ìë³¸ê¸ˆ"].apply(pd.to_numeric, errors = 'coerce')
df["ì˜ì—…í™œë™í˜„ê¸ˆíë¦„"] = df["ì˜ì—…í™œë™í˜„ê¸ˆíë¦„"].apply(pd.to_numeric, errors = 'coerce')
df["íˆ¬ìí™œë™í˜„ê¸ˆíë¦„"] = df["íˆ¬ìí™œë™í˜„ê¸ˆíë¦„"].apply(pd.to_numeric, errors = 'coerce')
df["ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„"] = df["ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„"].apply(pd.to_numeric, errors = 'coerce')
df["EPS(ì›)"] = df["EPS(ì›)"].apply(pd.to_numeric, errors = 'coerce')


df.dtypes

ë§¤ì¶œì•¡             int64
ì˜ì—…ì´ìµ            int64
ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)     object
ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ       object
ë‹¹ê¸°ìˆœì´ìµ           int64
ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)       int64
ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)      int64
ìì‚°ì´ê³„            int64
ë¶€ì±„ì´ê³„            int64
ìë³¸ì´ê³„            int64
ìë³¸ì´ê³„(ì§€ë°°)       object
ìë³¸ì´ê³„(ë¹„ì§€ë°°)     float64
ìë³¸ê¸ˆ             int64
ì˜ì—…í™œë™í˜„ê¸ˆíë¦„        int64
íˆ¬ìí™œë™í˜„ê¸ˆíë¦„        int64
ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„        int64
ì˜ì—…ì´ìµë¥          float64
ìˆœì´ìµë¥           float64
ROE(%)        float64
ROA(%)        float64
ë¶€ì±„ë¹„ìœ¨          float64
ìë³¸ìœ ë³´ìœ¨         float64
EPS(ì›)          int64
PER(ë°°)        float64
ì˜ì—…ì´ìµë¥ 2        float64
dtype: object

In [10]:
pd.options.display.float_format = '{:.2f}'.format
df.describe()

,ë§¤ì¶œì•¡,ì˜ì—…ì´ìµ,ë‹¹ê¸°ìˆœì´ìµ,ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°),ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°),ìì‚°ì´ê³„,ë¶€ì±„ì´ê³„,ìë³¸ì´ê³„,ìë³¸ì´ê³„(ë¹„ì§€ë°°),ìë³¸ê¸ˆ,...,ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„,ì˜ì—…ì´ìµë¥,ìˆœì´ìµë¥,ROE(%),ROA(%),ë¶€ì±„ë¹„ìœ¨,ìë³¸ìœ ë³´ìœ¨,EPS(ì›),PER(ë°°),ì˜ì—…ì´ìµë¥ 2
count,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,2.00,5.00,...,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00
mean,12550.80,3487.20,2704.60,2699.00,5.60,108155.00,22988.20,85166.80,564.00,9550.00,...,-2192.80,27.68,21.44,12.53,9.69,27.05,830.29,1966.00,12.05,0.28
std,664.98,636.93,863.42,851.34,12.48,1522.40,2560.38,1988.83,2.83,0.00,...,2763.51,4.12,6.60,0.34,0.29,3.55,18.02,619.94,1.90,0.04
min,11784.00,2523.00,1183.00,1198.00,-15.00,106314.00,20062.00,82524.00,562.00,9550.00,...,-5501.00,21.06,9.87,12.20,9.37,23.04,803.22,873.00,9.71,0.21
25%,11982.00,3150.00,2935.00,2930.00,4.00,107121.00,20691.00,83732.00,563.00,9550.00,...,-4919.00,26.73,22.25,12.35,9.40,24.17,823.16,2134.00,10.46,0.27
50%,12578.00,3825.00,2939.00,2931.00,9.00,108464.00,23386.00,85623.00,564.00,9550.00,...,-329.00,28.93,24.36,12.39,9.79,26.91,836.86,2135.00,12.42,0.29
75%,13188.00,3947.00,3221.00,3208.00,13.00,108594.00,24862.00,86896.00,565.00,9550.00,...,-129.00,29.93,24.94,12.67,9.95,29.69,837.40,2337.00,13.77,0.30
max,13222.00,3991.00,3245.00,3228.00,17.00,110282.00,25940.00,87059.00,566.00,9550.00,...,-86.00,31.73,25.80,13.05,9.96,31.43,850.82,2351.00,13.87,0.32

ì•„ë˜ ë°ì´í„°ë¥¼ ì°¸ì¡°í•˜ì—¬ 18/19ë…„ë„ì— ëŒ€í•´ì„œ Price to Dream Ratio (PDR)ì„ ê³„ì‚°í•˜ì„¸ìš”.

ë³€ìˆ˜ ì´ë¦„ì€ df2, feature ì´ë¦„ì€ PDRë¡œ, df2['PDR']ì„ í†µí•´ ~ ê°’ì´ í™•ì¸ ë˜ì–´ì•¼í•©ë‹ˆë‹¤.

In [18]:
#PDR = ê¸°ì—…ê°€ì¹˜(ì‹œê°€ì´ì•¡) / TAM(ì „ì²´ì‹œì¥ê·œëª¨) * ì‹œì¥ì ìœ ìœ¨
#ì‹œê°€ì´ì•¡ = PER / ìˆœì´ìµ
#PER = ì‹œê°€ì´ì•¡ / ìˆœì´ìµ
#ì „ì œ: ì¼ë°˜ë‹´ë°°ê¸°ì¤€ ì ìœ ìœ¨ 18ë…„ : 62%, 19ë…„ : 63.5% / ì‹œì¥ê·œëª¨ 18ë…„ : 15ì¡°, 19ë…„ 15ì¡°


col = ['êµ¬ë¶„', 'ì¢…ê°€', 'ë°œí–‰ì£¼ì‹ìˆ˜', 'ì‹œê°€ì´ì•¡', 'ì‹œì¥ì ìœ ìœ¨', 'PDR']
ind = [0, 1]
con = [['18ë…„', 101500, 137292497,13935188445500,62.0, ''], ['19ë…„','93800','137292497','12878036218600','63.5','']]
df2 = pd.DataFrame(con, columns=col, index=ind)
df2

    êµ¬ë¶„      ì¢…ê°€      ë°œí–‰ì£¼ì‹ìˆ˜            ì‹œê°€ì´ì•¡ ì‹œì¥ì ìœ ìœ¨ PDR
0  18ë…„  101500  137292497  13935188445500 62.00
1  19ë…„   93800  137292497  12878036218600  63.5

In [27]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 0 to 1
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   êµ¬ë¶„      2 non-null      object
 1   ì¢…ê°€      2 non-null      object
 2   ë°œí–‰ì£¼ì‹ìˆ˜   2 non-null      object
 3   ì‹œê°€ì´ì•¡    2 non-null      object
 4   ì‹œì¥ì ìœ ìœ¨   2 non-null      object
 5   PDR     2 non-null      object
dtypes: object(6)
memory usage: 112.0+ bytes

In [28]:
df2["ì¢…ê°€"] = df2["ì¢…ê°€"].apply(pd.to_numeric, errors = 'coerce')
df2["ë°œí–‰ì£¼ì‹ìˆ˜"] = df2["ë°œí–‰ì£¼ì‹ìˆ˜"].apply(pd.to_numeric, errors = 'coerce')
df2["ì‹œê°€ì´ì•¡"] = df2["ì‹œê°€ì´ì•¡"].apply(pd.to_numeric, errors = 'coerce')
df2["ì‹œì¥ì ìœ ìœ¨"] = df2["ì‹œì¥ì ìœ ìœ¨"].apply(pd.to_numeric, errors = 'coerce')
df2["PDR"] = df2["PDR"].apply(pd.to_numeric, errors = 'coerce')

df2.dtypes

êµ¬ë¶„        object
ì¢…ê°€         int64
ë°œí–‰ì£¼ì‹ìˆ˜      int64
ì‹œê°€ì´ì•¡       int64
ì‹œì¥ì ìœ ìœ¨    float64
PDR      float64
dtype: object

In [29]:
df2['PDR'] = (df2['ì‹œê°€ì´ì•¡']/ 15000000000000) * 0.62

In [30]:
df2

    êµ¬ë¶„      ì¢…ê°€      ë°œí–‰ì£¼ì‹ìˆ˜            ì‹œê°€ì´ì•¡  ì‹œì¥ì ìœ ìœ¨  PDR
0  18ë…„  101500  137292497  13935188445500  62.00 0.58
1  19ë…„   93800  137292497  12878036218600  63.50 0.53

## Grading

ì´ì „ ê³¼ì œë¥¼ ì™„ë£Œí–ˆë‹¤ë©´, ì•„ë˜ì˜ ì½”ë“œë¥¼ ì‹¤í–‰í•˜ì„¸ìš”.

In [31]:
def grade(df, df2):
  score = 0
  score += (df.shape == (5, 26)) # 1-1
  score += ((round(df2['PDR'], 3) == [149.841, 135.202]).sum() == 2) # 1-2
  score += ((round(df['ì˜ì—…ì´ìµë¥ 2'], 3) == [31.730, 28.929, 21.057, 26.731, 29.929]).sum() == 5) # 1-3
  score += (df['ë§¤ì¶œì•¡'][0] == 12578) # 2
  score += ((df.dtypes == 'O').sum() == 1)
  return(score)

In [32]:
grade(df, df2)

1

## ğŸ”¥ ë„ì „ê³¼ì œ

### NA Value Handling

- 19ë…„ë„ 4ë¶„ê¸°ì˜ ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°) ë¶€ë¶„ì„ Naë¡œ ëŒ€ì²´í•˜ì„¸ìš”
- ì´í›„ í•´ë‹¹ ê²°ì¸¡ì¹˜ë¥¼ mean imputation ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ ì²˜ë¦¬í•˜ì„¸ìš”.

### Feature Engineering

Relative Perfomance ë¼ëŠ” ìƒˆë¡œìš´ featureë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

ì´ëŠ” ìµœê·¼ 1ë…„ì¹˜ ë§¤ì¶œì•¡ì˜ í‰ê· ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ 

- 10% ì´ìƒ -> `S`
- 5% ì´ìƒ -> `A`
- -5 ~ 5% -> `B`
- -5%ì´í•˜ -> `C`
- 10%ì´í•˜ -> `D`

ë¼ëŠ” ê°’ì„ ê°–ëŠ” featureì…ë‹ˆë‹¤.

20ë…„ë„ 2ë¶„ê¸°ì— í•´ë‹¹í•˜ëŠ” ê²°ê³¼ê°’ì€ `A`ê°€ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

ê°ê°ì— í•´ë‹¹í•˜ëŠ” ë“±ê¸‰ì´ ë‚˜ì˜¤ê¸° ìœ„í•´ì„œ í•„ìš”í•œ ë§¤ì¶œì•¡ì„ ì¶”ê°€ë¡œ ì„œìˆ í•˜ì„¸ìš”.